################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/CreativeMinds.HumanAccount.OpenIdConnect
/src/CreativeMinds.HumanAccount.OpenIdConnect/.vs
/src/CreativeMinds.HumanAccount.OpenIdConnect/obj
/src/.vs/ProjectEvaluation
